name: build

on:
  workflow_dispatch: {}
  push:
    branches: ['main']
  pull_request:
    branches: ['**']

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 25.5.0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm lint
      - name: Check
        run: pnpm check
      - name: Build
        run: npm run build && npm run build:bin
